  
  body {
    background: linear-gradient(to left,#011b38, #fff, #011b38) !important;
  }


  form {      
      font-family:cursive;
      margin-left:39%;
      margin-top:10%;
  }
  
  h3 {
      color:black;
      
  }
  

input[type="text"],
input[type="email"],
textarea
{
  
  width:400px !important;
}

